<form [formGroup]="cancelCodeForm" novalidate>
  <div class="ui-g ui-fluid">
    <div class="ui-md-7">    
      <div class="ui-inputgroup">
          <span style="margin-top: 5px; margin-right: 3px; font-weight: bold;">Remarks: </span>
        <input type="text" pInputText placeholder="Cancel Remarks" formControlName="Remarks" class="ui-inputtext ui-corner-all ui-state-default ui-widget"/>
      </div>
    </div>
    <div class="ui-md-5">
        <p-button label="Submit" type="button" (onClick)="handleCancelClick()" [disabled]="!cancelCodeForm.valid" styleClass="ui-button-success"></p-button>
        &nbsp;<p-button label="Close" type="button" (onClick)="handleCloseClick()" styleClass="ui-button-danger"></p-button>
    </div>
  </div>
</form>
