::ng-deep body .ui-radiobutton-label { margin-right:6px !important;}
::ng-deep body .ui-radiobutton .ui-radiobutton-box {border: 1px solid #908e8e !important; background-color: #d2cece !important;}

::ng-deep .download-img {width: 28px; height:28px; cursor: pointer; margin: 0px 6px; vertical-align: middle;}
::ng-deep .download-label {margin-top: -6px !important;}