<div class="main-panel">
    <div class="content">
  <div class="ui-g panelheader">
      <div class="ui-g-6"><h4 class="card-title"> Outage Historic Elements</h4></div>
      <div class="ui-g-4 pull-right">
        <label>Period Range: </label>
        <p-calendar [showIcon]="true" [(ngModel)]="rangeDates" dateFormat="dd/mm/yy" selectionMode="range"
            [readonlyInput]="true"></p-calendar>
        </div>
        <div class="ui-g-2 pull-left">
            <button pButton (click)="getReport()" label="Get Report" class="ui-button-danger"></button>
        </div>
  </div>
  <div class="ui-g" style="width:100%;">
      <ng-container>
        <app-outage [masterData]="masterData" [outageData]="historyOutageData"
        [isDashboardUpdate]="false" [IsHistoryView]="true" [selectOptions]="ouatgeSelectOptions"></app-outage>
      </ng-container>
  </div>
</div>
<p-toast key="saveNotification"></p-toast>
<p-toast key="errorNotification"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>