::ng-deep .abcd .ui-table-thead > tr > th:nth-child(1) { width:100px !important; }
::ng-deep .abcd .ui-table-tbody > tr > td:nth-child(1) { word-wrap:break-word !important; }

::ng-deep .abcd .ui-table-thead > tr > th:nth-child(33) { width:58px !important; }

::ng-deep .ui-calendar .ui-inputtext {width: 83% !important;}