
<div class="main-panel" id="main-panel">
    <div class="content">  
        <div class="ui-g" style="width: 70%; margin: 0 auto;" id="no data">
            <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="ui-g">
                    <div class="ui-g-8">
                        <div style="color:#999; text-transform: uppercase; font-size:26px; font-weight:bold;">
                        We couldn't find any results
                        <div id=flip>
                            <div><div>They might have expired.</div></div>
                            <div><div>They might have expired.</div></div>
                            <div><div>They might have expired.</div></div>
                        </div>
                        That's all we know ........
                        </div>
                    </div>
                    <div class="ui-g-4">
                      <div class="expression">
                        &nbsp;
                      </div>
                    </div>
                  </div>         
                </div>
              </div>
        </div>

      <div class="p-grid p-dir-row clearfix">
          <h4 class="card-title">agency-master works!</h4>
        <div class="card whiteBG">
          <div class="card-body">
           Page Content
          </div>
        </div>
      </div>
    </div>
  </div>


  